@font-face {
	font-family: "Twemoji";
	src: url(fonts/Twemoji.ttf) format("truetype");
	unicode-range: U+00AE, U+203C, U+2049, U+20E3, U+2122, U+2139, U+2194-2199, U+21A9-21AA, U+231A, U+231B, U+2328, U+23CF, U+23E9-23F3, U+23F8-23FA, U+24C2, U+25AA, U+25AB, U+25B6, U+25C0, U+25FB-25FE, U+2600-27EF, U+2934, U+2935, U+2B00-2BFF, U+3030, U+303D, U+3297, U+3299, U+1F000-1F02F, U+1F0A0-1F0FF, U+1F100-1F64F, U+1F680-1F6FF, U+1F910-1F96B, U+1F980-1F9E0;
	font-display: swap;
}

@font-face {
	font-family: unifont;
	src: url(fonts/unifont.otf) format("opentype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
	cursor: url('images/cursor.webp') 15 15, auto;
}

:root {
	background-color: black;
	font-family: "Twemoji", Calibri;
}

::-webkit-scrollbar {
	width: 0; /* hide scrollbar */
}

body {
	background-color: black;
	overflow-x: hidden;
	font-size: 2vmin;
	margin: 0;
	padding: 0;
	margin-top: 5vmin;
	margin-left: 8vmin;
	margin-right: 8vmin;
	animation: fadeIn 1.5s;
}

h1 {
	color: white;
	margin: 0;
	font-size: 6vmin;
}

h2 {
	color: white;
	margin: 0;
	font-size: 5vmin;
}

h3 {
	color: white;
	margin: 0;
	font-size: 4vmin;
}

h4 {
	color: white;
	margin: 0;
	font-size: 2.6vmin;
}

p {
	color: white;
	font-size: 2vmin;
	margin: 0;
	font-family: "Twemoji", unifont, Tahoma;
}

b {
	color: white;
	font-size: 2vmin;
	margin: 0;
	font-family: "Twemoji", unifont, Tahoma;
}

a {
	color: blue;
	text-decoration: none;
	font-size: 2vmin;
	margin: 0;
	font-family: "Twemoji", unifont, Tahoma;
}
a:hover {
	text-decoration: underline;
}

label {
	color: white;
	font-size: 2vmin;
	font-family: "Twemoji", unifont, Tahoma;
}

textarea {
	color: white;
	font-size: 2vmin;
	font-family: "Twemoji", unifont, Tahoma;
	width: 120vmin;
	height: 20vmin;
	background-color: #000000;
	resize: none;
	border-radius: 5px;
	overflow: hidden;
	border-style: solid;
	margin-bottom: 4vmin;
}

footer {
	text-align: center;
	color: #fff;
	font-size: 2vmin;
	margin: 0;
	position: absolute;
	bottom: 0.2vmin;
	left: 50%;
	transform: translate(-50%, 0%);
	font-family: "Twemoji", unifont, Tahoma;
}

footer .mads {/* for mxs ad service */
	background: rgb(10, 10, 10);
	width: 728px; /* all mads are 728px wide */
	height: 90px; /* all mads are 90px tall */
	border: none;
}

.title {
	font-size: 8vmin;
}

.h3link {
	color: rgb(0, 0, 255);
	margin: 0;
	font-size: 4vmin;
	font-family: "Twemoji", Calibri;
}

.relative {
	position: relative;
}

.center {
	text-align: center;
}

.navlink {
	display: inline-block;
}

.hoverthing {
	color: blue;
}
.hoverthing:hover {
	text-decoration: none;
}
.hoverthing:hover:after {
	content: ' <';
}
.hoverthing:hover:before {
	content: '> ';
}

.popoutthing {
	transition: transform .2s;
}
.popoutthing:hover {
	transform: scale(1.25);
}

.nodecor:hover {
	text-decoration: none;
}

.calibri {
	font-family: "Twemoji", Calibri;
}

.pfp {
	width: 5vmin;
	height: 5vmin;
	margin: 0.3vmin;
}

.pfpimg {
	width: 5vmin;
	height: 5vmin;
	transition: transform .2s;
	border-radius: 30%;
	margin: 0.3vmin;
	margin-left: 0;
	margin-right: 0;
}
.pfpimg:hover {
	transform: scale(1.30);
}

.gamedesc {
	font-size: 1.8vmin;
	margin-top: 0.5vmin;
}

#centerbox {
	display: grid;
	margin: 0 auto;
	align-items: center;
	align-self: center;
	justify-content: center;
	text-align: center;
}

#games {
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

.game-card {
    width: 20vmin;
	min-height: 20vmin;
    border: 0.2vmin solid #333;
    border-radius: 1vmin;
    box-shadow: 0 0.8vmin 0.8vmin rgba(0, 0, 0, 0.2);
    padding: 2vmin;
    text-align: center;
	position: relative;
    background-color:#101010;
    color: darkgrey;
    transition: background-color 0.3s ease;
}

.game-title {
    font-size: 3vmin;
    font-weight: bold;
}

.game-desc {
    font-size: 2vmin;
	padding-bottom: 9vmin;
}

.play-button {
	position: absolute;
	bottom: 2vmin;
	left: 3vmin;
    background-color:blue;
    color: #fff;
    border: none;
    padding: 1vmin 6vmin;
    border-radius: 1vmin;
    font-size: 3vmin;
}

.search-bar {
    padding: 3vmin;
    border:white;
    background-color: #181818	;
    border-radius: 3.5vmin;
    margin-bottom: 5vmin;
    color:white;
	font-size: 2vmin;
}

.deviceicon {
	font-size: 2vmin;
	padding: 0;
}