@font-face {
	font-family: "Twemoji";
	src: url(fonts/Twemoji.ttf) format("truetype");
	unicode-range: U+00AE, U+203C, U+2049, U+20E3, U+2122, U+2139, U+2194-2199, U+21A9-21AA, U+231A, U+231B, U+2328, U+23CF, U+23E9-23F3, U+23F8-23FA, U+24C2, U+25AA, U+25AB, U+25B6, U+25C0, U+25FB-25FE, U+2600-27EF, U+2934, U+2935, U+2B00-2BFF, U+3030, U+303D, U+3297, U+3299, U+1F000-1F02F, U+1F0A0-1F0FF, U+1F100-1F64F, U+1F680-1F6FF, U+1F910-1F96B, U+1F980-1F9E0;
}

@font-face {
	font-family: pixel nes;
	src: url(fonts/Pixel_NESd41d.eot?) format("eot"), url(fonts/Pixel_NES.woff) format("woff"), url(fonts/Pixel_NES.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: nec_apc3;
	src: url(fonts/Web437_NEC_APC3_8x16.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: nec_apc3;
	src: url(fonts/Web437_Nix8810_M16.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: unifont;
	src: url(fonts/unifont.otf) format("opentype");
	font-weight: 900;
	font-style: normal;
}

body {
	cursor: url('cursor.png') 15 15, auto;
	overflow-x: hidden;
	margin: 0;
	margin-top: 10px;
	font-size: 19px;
	padding: 0, 50px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 25px;
	image-rendering: pixelated;
	font-family: "Twemoji", unifont, ms ui gothic, nec_apc3, Tahoma;
	background-color: #000;
	-webkit-font-smoothing: none;
}

.consoleaot {
	font-size: 15px;
}

:root {
	cursor: url('cursor.png') 15 15, auto;
}

h1 {
	color: green;
	font-family: "Twemoji", pixel nes;
	margin: 0;
	font-size: 40px;
}

h2 {
	color: green;
	font-family: "Twemoji", pixel nes;
	margin: 0;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: green;
	cursor: url('cursor.png') 15 15, auto;
}

#container {
	max-width: 1800px;
	margin: 0 auto;
	display: grid;
	align-items: center;
	align-self: center;
	justify-content: center;
}

#bigtd {
	max-width: 1350px;
	width: 1350px;
	vertical-align: baseline;
	margin: auto;
}

#td {
	width: 450px;
	vertical-align: baseline;
	margin: auto;
}

.box {
	background-color: #000000a8;
	border: 2px solid #383838;
	border-radius: 0px;
	color: #fff;
	padding: 15px 15px;
	margin: 5px;
}

a:hover {
	text-decoration: underline;
}

.navlink {
	color: #fff;
	display: inline-block;
	margin-bottom: 3px;
	cursor: url('cursor.png') 15 15, auto;
}

.center {
	text-align: center;
}

textarea {
	background-color: #000;
	color: #fff;
	border: 1px solid #383838;
	font-family: "Twemoji", unifont, ms ui gothic, nec_apc3, Tahoma;
	resize: none;
	padding: 5px;
	margin: 0;
	font-size: 20px;
	max-width: 1285px;
	width: 1285px;
	display: inline;
	cursor: url('cursor.png') 15 15, auto;
}

input {
	background-color: #000;
	color: #fff;
	border: 1px solid #383838;
	font-family: "Twemoji", unifont, ms ui gothic, nec_apc3, Tahoma;
	resize: none;
	padding: 5px;
	margin: 0;
	font-size: 20px;
	width: 100%;
	max-width: 1285px;
	cursor: url('cursor.png') 15 15, auto;
	display: inline;
}

::-webkit-scrollbar {
	width: 0;
}

footer {
	text-align: center;
	color: #fff;
}

h3 {
	margin: 0;
	font-size: 25px;
}

p {
	font-size: 20px;
	margin: 0;
}

li {
	font-size: 18px;
}

iframe {
	z-index: 5000;
}

#meme {
	display: inline;
	min-width: 150px;
	max-width: 250px;
	max-height: 300px;
}

marquee {
	padding-top: 10px;
	padding-bottom: 8px;
}

.hoverthing:hover {
	text-decoration: none;
}

.hoverthing:hover:after {
	content: ' <';
}

.hoverthing {
	color: green;
}

.nodecor:hover {
	text-decoration: none;
}

.popoutthing {
	padding-left: 5px;
	transition: transform .2s;
}

.popoutthing:hover {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 500;
	transform: scale(1.25);
}

#consoletest {
	min-height: 10em;
}

.pfp {
	width: 64px;
	height: 64px;
	margin: 6px;
}

.pfpimg {
	width: 64px;
	height: 64px;
	transition: transform .2s;
	border-radius: 30%;
	margin: 6px;
	margin-left: 0;
	margin-right: 0;
}

.pfpimg:hover {
	transform: scale(1.30);
}

.websites {
	padding-bottom: 25px;
}